body{
	background: whitesmoke;
}

.main-container {
    background: white;
    padding: 40px;
    max-width: 1200px;
	box-shadow: rgb(240, 240, 240) 5px 5px 5px 0px;
}

#page-content {
    padding: 0px 15px;
}

p{
	overflow-x: hidden;
}

td{
    font-size: 12px;
}

table{
	width: 100%;
}

a {
    cursor: pointer;
}

.summary-div {
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px;
    max-height: 300px;
    overflow: scroll;
}

.summary-div td {
    padding: 5px;
}

.summary-div table {
    margin-bottom: 15px;
}

#material_summary_div .summary-div {
    max-height: 200px;
    overflow: scroll;
}

#view_abstracts {
    cursor: pointer;
    color: #1EAEDB;
}
#view_abstracts:hover {
    color:#0FA0CE;
}

#has_elements, #n_has_elements {
    display: inline-grid;
    width: 170px;
    margin: 0px 3px;
}

#matsearch_input, #matsearch_negative_input {
    width: 170px;
}